<!-- remeber to add a static path (express) in the js file-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .header-logo { width: 40px; height:40px}
    </style>
   
    <title>Hello Kitty</title>
</head>
<body>
    <header>
        <h1><a href="#"><img class="header-logo" src="images/happy.png" alt="logo" srcset=""></a></h1>
        <nav>
            <ul class="header-menu">
                <li ><a href="#">系列鏡框</a></li>
                <li ><a href="#">門市據點</a></li>
                <li ><a href="#">部落格</a></li>
                <li ><a href="./FAQ.html">常見問題</a></li>
            </ul>
        </nav>
    </header>
    <form action="/searchList" method='post'>
        <input type="text" name='searchText' id ="content" value=''>
        <input type="text" name='option2' id='topic' value=''>
        <input type="submit" id='send' value='送出'>
    </form>
    <footer>

    </footer>
    <script src='/js/all.js'></script>
</body>
</html>
